a {
  color: #353535;
  text-decoration: none;
}

.tabs-menu {
  background: #e8e8e8;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  display: inline-block;
  list-style-type: none;
  padding: 0 1em;
}

.tabs-menu-item.is-active {
  background: #cacaca;
}

.public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
  padding: 0 0.5em;
}

.fixedDataTableRow_body .public_fixedDataTableCell_cellContent {
  cursor: pointer;
}

.public_fixedDataTableCell_cellContent {
  font-size: 0.7em;
  padding: 0 0.5em;
}

.btn.btn-lg {
  margin: 1em 0;
  width: 13em;
}

.disabled {
  color: #cacaca;
}

.recorder {
  display: none;
  margin-left: 1em;
}

.recorder i {
  margin: 0 0.25em;
}

@-webkit-keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.blink {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: blink;
  animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
