a {
  color: #353535;
  text-decoration: none;
}

.tabs-menu {
  background: #e8e8e8;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  display: inline-block;
  list-style-type: none;
  padding: 0 1em;
}

.tabs-menu-item.is-active {
  background: #cacaca;
}

.public_fixedDataTable_header .public_fixedDataTableCell_cellContent {
  font-size: 0.8em;
  padding: 0 0.5em;
}
